body{
    margin: 0;
    padding: 0;
}

@font-face {
	font-family: "Days";
	src: url("./fonts/days/days.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

header{
    position: sticky;
    top: 0;
    z-index: 900;
}

.header_banner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #391F11;
    gap: 10px;
    
}

.logo_name{
    width: 10%;
}

.main_buttns nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Days";
    font-weight: 400;
    font-style: normal; 
    transition: all 0.1s ease-in-out;
}

.main_buttns nav a:hover{
    color: #FFD3BB;
}

.main_buttns nav{
    display: flex;
    gap: 30px;
}

.nav_but nav a{
    text-decoration: none;
    color: black;
    font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 25px;
}

.menu_ch{
    background-image: url(./image/Vector\ 1.png);
    height: 135px;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu_ch nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 46px;
    margin-top: 22px;
}

.menu_ch nav a{
    font-family: "Days";
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: black;
    font-size: 25px;
    transition: all 0.1s ease-in-out;
}

.menu_ch nav a:hover{
    color: #391F11;
}

.nav_but nav a{
    text-decoration: none;
    color: black;
    font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 25px;
}

main{
    padding: 130px 100px;
}

.menu_ram{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: space-between;
    margin-bottom: 65px;
}


.ram span{
    color: #FECB47;
}

.ram{
    font-family: "Days";
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
}

.ram h1{
    font-size: 35px;
}

.ramen{
    background-image: url(./image/menu_back.png);
    background-size: cover;
    width: 280px;
    height: 455px;
    padding: 30px 30px 0px 30px;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
}


.text h1{
    font-family: "Days";
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    text-transform: uppercase;
}

.text span{
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
}

.under_text{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 21px;
}

.under_text span{
    font-family: "Days";
    font-weight: 400;
    font-style: normal;
    font-size: 15px; 
}

.gr{
    height: 14px;
    width: 53px;
    background-color: #FFE8BD;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 12px;
    display: flex;
    justify-content: center;
}

footer{
    background-color: #391F11;
    padding-bottom: 100px;
    padding-left: 70px;
}

.foot_but{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.abt{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;

    padding-top: 30px;
}

.cont{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    color: white;
        font-family: "Fira Sans Condensed", sans-serif;
        font-weight: 400;
        font-style: normal;
    font-size: 12px;
    margin-left: 68px;
}

.numb{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 7px;
    gap: 3px;
}

.mail_navbut{
    margin-right: 10%;
}

.navbut_foot{
    display: flex;
    flex-direction: row;
    gap: 38px;
}

.navbut_foot nav{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.navbut_foot nav a{
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-decoration: none;
    color: white;
}

.mails h1{
    margin: 0;
    padding-top: 52px ;
    color: white;
    font-family: "Days";
    font-weight: 400;
    font-style: normal; 
    font-size: 25px;
}

.mails input{
    width: 90% ;
    border-radius: 10px;
    height: 33px;
    padding: 7px 15px ;
    margin-top: 10px;
    margin-bottom: 28px;
}

.gl{
    margin-bottom: 10px;
}